notesPlain: "{{ login_notes_plain }}"
fields:
  -
    "designation": "username"
    "name": "username"
    "type": "T"
    "value": "{{ login_username }}"
  -
    "designation": "password"
    "name": "password"
    "type": "P"
    "value": "{{ login_password }}"


